beautifulsoup4
financedatabase
fire
fundamentalanalysis
html5lib
investpy
lxml
matplotlib
mplfinance
openpyxl
pandas
pandas-datareader
prompt_toolkit
pydantic
requests
requests_html
rich
scipy
yfinance
