PyPortfolioOpt
alpha-vantage
beautifulsoup4
cssselect
cufflinks
featuretools[complete]
ffn
financedatabase
fire
fundamentalanalysis
graphviz
html5lib
httpx
hydra-core
investpy
lux
lxml
matplotlib
mplfinance
nltk
openpyxl
pandas
pandas-datareader
plotly
prophet
prompt_toolkit
pydantic
python-dateutil
pytrends
requests
requests-html
rich
scipy
selectolax
selenium
sklearn
tsfresh
vaex
webdriver-manager
yahooquery
yfinance
