beautifulsoup4
cssselect
cufflinks
financedatabase
fire
fundamentalanalysis
html5lib
httpx
investpy
lxml
matplotlib
mplfinance
nltk
openpyxl
pandas
pandas-datareader
plotly
prompt_toolkit
pydantic
python-dateutil
pytrends
requests
requests-html
rich
scipy
selenium
webdriver-manager
yahooquery
yfinance
